<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button v-on:click="sayHello">Click me</button>
        <input type="text" v-model="input" v-on:input="changeInput">

        <ul>
            <li v-for="(item, index) in todoList">{{item}}</li>
        </ul>
        <input type="text" v-model="todoItem">
        <button v-on:click="addTodoItem">addTodoItem</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                input: '',
                todoList: [],
                todoItem: ''
            },
            methods: {
                sayHello(){
                    alert('Hello')
                },
                changeInput(){
                    console.log(this.input)
                },
                addTodoItem(){
                    this.todoList.push(this.todoItem)
                    this.todoItem = ''
                }
            }
        })
    </script>
</body>
</html>