<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        inputVal: <input type="text" v-model="inputVal">
        <p>inputMsg: {{inputMsg}}</p>

        name: <input type="text" v-model="obj.name">
        <p>nameMsg: {{nameMsg}}</p>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                inputVal: '',
                obj: {
                    name: ''
                },
                inputMsg: '',
                nameMsg: '',
            },
            watch: {
                inputVal(){
                    if(this.inputVal == ''){
                        this.inputMsg = ''
                    }else{
                        this.inputMsg = new Date() +' someone change inputVal, now inputVal is ' + this.inputVal
                    }
                },
                'obj.name': function(){
                    this.nameMsg = 'name is ' + this.obj.name
                },
                nameMsg: {
                    handler(){
                        
                    },
                    immediate: true,
                    deep: true,
                }
            }
        })
    </script>
</body>
</html>