<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <label for="">a:</label>
        <input type="number" v-model="a">
        <label for="">b:</label>
        <input type="number" v-model="b"><br>

        <label for="">加總:</label><span>{{sum}}</span>

        <ul>
            <li v-for="(item, index) in cartList">
                品名: {{item.productName}}
                價錢: {{item.price}}
                數量: <input type="number" v-model="item.count">
            </li>
        </ul>

        <p>summary: {{total}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                a:0,
                b:0,
                cartList: [
                    {productName: 'milk', price: 50, count: 10},
                    {productName: 'cola', price: 30, count: 20},
                    {productName: 'tea', price: 40, count: 15}
                ]
            },
            computed: {
                // 1. 一定要有 return 更新 sum　的值
                // 2. sum 雖然寫在 computed 裡，但她是一個 property
                // 3. a 跟 b 只要有一方值有變更，就會觸發(如果用 watch 就要同時監聽 a 跟 b)
                sum(){
                    return parseInt(this.a) + parseInt(this.b)
                },
                total(){
                    let res = this.cartList.map( x => x.price * x.count).reduce((a, b) => {return a + b})
                    return res
                }
            },
        })
    </script>
</body>
</html>