<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="https://kit.fontawesome.com/75ce54417c.js" crossorigin="anonymous"></script>

    

    <title>Document</title>
    <style>
        .handle{
            cursor: move;
            width: 30px;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>No</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>sort</th>
                        </tr>
                    </thead>
                    <tbody
                        is="draggable"
                        tag="tbody"
                        v-model="personList"
                        handle=".handle"
                        v-on:start="drag = true"
                        v-on:end="drag = false"
                        v-bind="dragOptions"
                    >
                        <transition-group type="transition" :name="drag ? null : 'flip-list'">
                            <tr v-for="person in personList" :key="person.id">
                                <td class="handle text-nowrap">
                                    <i class="fa fa-ellipsis-v"></i>
                                    <i class="fa fa-ellipsis-v"></i>
                                </td>
                                <td class="text-nowrap">{{ person.id }}</td>
                                <td class="text-nowrap">{{ person.name }}</td>
                                <td class="text-nowrap">{{ person.age }}</td>
                                <td>{{ person.sort }}</td>
                            </tr>
                        </transition-group>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                personList: [
                    { id: 1, name: "Jimmy", age: 26, sort: 1 },
                    { id: 2, name: "Annie", age: 16, sort: 1 },
                    { id: 3, name: "Alan", age: 27, sort: 1 },
                    { id: 4, name: "Ban", age: 20, sort: 1 },
                    { id: 5, name: "Ian", age: 36, sort: 1 },
                ],
                drag: false,
                dragOptions: {
                    animation: 200,
                    ghostClass: 'abc'
                }
            },
            watch: {
                drag: {
                    handler(){
                        if(this.drag == false){
                            this.personList.forEach((element, index) => {
                                element.sort = index + 1
                            });
                            console.log(this.personList)
                        }
                    }
                }
            }
        })
    </script>
</body>
</html>